.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(360deg,#fde1ff,#e1ffea22);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo-p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    list-style: none;
    display: flex;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size:20px;
    color: #1a1a1a;
    margin-bottom: 30px;
    width: 100%;
}
.footer-copyright hr{
    width: 80%;
    background-color: #c7c7c7;
    border: none;
    border-radius: 10px;
    height: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}